<style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    </style>

<a>New data Table</a>
<div>
    <table>
        <tr>
            <td>Project:</td>
            <td>{{ (msg[0])[0] }}</td>
        </tr>
        <tr>
            <td>Contract:</td>
            <td>{{ (msg[0])[1] }}</td>
        </tr>
        <tr>
            <td>SIte:</td>
            <td>{{ (msg[0])[2] }}</td>
        </tr>
        <tr>
            <td>Equipment:</td>
            <td>{{ (msg[0])[3] }}</td>
        </tr>
        <tr>
            <td>Circuit:</td>
            <td>{{ (msg[0])[4] }}</td>
        </tr>
        <tr>
            <td>Interface:</td>
            <td>{{ (msg[0])[5] }}</td>
        </tr>
    </table>
</div><br>
<a>Old Data Table</a>
<div>
    <table>
        <tr>
            <td>Project :</td>
            <td>{{ (msg[1])[0] }}</td>
        </tr>
        <tr>
            <td>Contract :</td>
            <td>{{ (msg[1])[1] }}</td>
        </tr>
        <tr>
            <td>Site : </td>
            <td>{{ (msg[1])[2] }}</td>
        </tr>
        <tr>
            <td>Equipment :</td>
            <td>{{ (msg[1])[3] }}</td>
        </tr>
        <tr>
            <td>Circuit :</td>
            <td>{{ (msg[1])[4] }}</td>
        </tr>
        <tr>
            <td>Interface :</td>
            <td>{{ (msg[1])[5] }}</td>
        </tr>
    </table>
</div>