<div>
    <table>
        <tr>
            <td><div>Circuit {{zone2[0]}} Details are below : </div></td>
        </tr>
        <tr>
            <td>Project Name : </td>
            <td>{{ zone1[0] }}</td>
        </tr>
        <tr>
            <td>Circuit id : </td>
            <td>{{ zone2[0] }}</td>
        </tr>
        <tr>
            <td>Equipment ref : </td>
            <td>{{ zone2[1] }}</td>
        </tr>
        <tr>
            <td>IP Address PE : </td>
            <td>{{ zone2[2] }}</td>
        </tr>
        <tr>
            <td>IP Address CE : </td>
            <td>{{ zone2[3] }}</td>
        </tr>
        <tr>
            <td>Subnet : </td>
            <td>{{ zone2[4] }}</td>
        </tr>
        <tr>
            <td>Loopback : </td>
            <td>{{ zone2[5] }}</td>
        </tr>
        <tr>
            <td>Circuit Type : </td>
            <td>{{ zone2[6] }}</td>
        </tr>
        <tr>
            <td>Link number : </td>
            <td>{{ zone2[7] }}</td>
        </tr>
        <tr>
            <td>Original ISP : </td>
            <td>{{ zone2[8] }}</td>
        </tr>
        <tr>
            <td>Owner ISP : </td>
            <td>{{ zone2[9] }}</td>
        </tr>
        <tr>
            <td>ISP Contact tel : </td>
            <td>{{ zone2[10] }}</td>
        </tr>
        <tr>
            <td>Equipment Model : </td>
            <td>{{ zone3[0] }}</td>
        </tr>
        <tr>
            <td>Equipment Brand : </td>
            <td>{{ zone3[1] }}</td>
        </tr>
        <tr>
            <td>Serial number : </td>
            <td>{{ zone3[2] }}</td>
        </tr>
        <tr>
            <td>Physical Interface : </td>
            <td>{{ zone4[0] }}</td>
        </tr>
        <tr>
            <td>VLAN ID : </td>
            <td>{{ zone4[1] }}</td>
        </tr>
    </table>
    <p> </p>
    <table>
        <tr><td>Tunnel Interface Name</td></tr>
        {% for row in range(zone5_num) %}
        <tr><td>{{row+1}}</td>
            <td >{{zone5[row]}}</td>
            {% endfor %}
        </tr>

    </table>