<form action="{{ url_for('edit_project_page') }}" method="post">
<table class="table">
    <tr>
        <td>Project Name : </td>
        <td>{{ msg[0] }}</td>
    </tr>
    <tr>
        <td>S/O : </td>
        <td><input class="inputbox2" type="text" name="s_o" placeholder= "{{ msg[1] }}" id="s_o"></td>
    </tr>
    <tr>
        <td>VPN Detail : </td>
        <td><textarea rows="4"  cols="50" type="text" name="vpn" placeholder="{{ msg[6] }}" id="vpn"></textarea></td>
    </tr>
    <tr>
        <td>Important Detail : </td>
        <td><textarea rows="4"  cols="50" type="text" name="important" placeholder="{{ msg[7] }}" id="important"></textarea></td>
    </tr>
    <tr>
        <td>Addition Detail : </td>
        <td><textarea rows="4"  cols="50" type="text" name="addition" placeholder="{{ msg[8] }}" id="addition"></textarea></td>
    </tr>
    <tr>
        <td>Customer Start of Contract : </td>
        <td><input class="inputbox2" type="text" name="c_s_c" placeholder= "{{ msg[2] }}" id="c_s_c"></td>
    </tr>
    <tr>
        <td>Customer End of Contract : </td>
        <td><input class="inputbox2" type="text" name="c_e_c" placeholder= "{{ msg[3] }}" id="c_e_c"></td>
    </tr>
    <tr>
        <td>Disty Start of Contract : </td>
        <td><input class="inputbox2" type="text" name="d_s_c" placeholder= "{{ msg[4] }}" id="d_s_c"></td>
    </tr>
    <tr>
        <td>Disty End of Contract : </td>
        <td><input class="inputbox2" type="text" name="d_e_c" placeholder= "{{ msg[5] }}" id="d_e_c"></td>
    </tr>
    <tr>
        <td>Remark  : </td>
        <td><input class="inputbox2" type="text" name="remark" placeholder= "{{ msg[9] }}" id="remark"></td>
    </tr>
</table>
<div class="modal-footer">
    <button type="Submit" class="btn btn-secondary"  value= "{{ msg[0] }}" name="pk">Submit</button>
    <button type="Button" class="btn btn-primary"  data-dismiss="modal">Close</button>
</div>
</form>