<form action="{{ url_for('edit_user_page') }}" method="post">
    <table class="table">
        <tr>
            <td>User ID : </td>
            <td>{{ msg[0] }}</td>
        </tr>
        <tr>
            <td>Email : </td>
            <td><input class="inputbox2" type="text" name="username" placeholder= "{{ msg[1] }}" id="username"></td>
        </tr>
        <tr>
            <td>Password : </td>
            <td><input class="inputbox2" type="text" name="password" placeholder= "{{ msg[2] }}" id="password"></td>
        </tr>
        <tr>
            <td>Role : </td>
            <td>
                <select type="role" name ='role' id="role" class="form-control form-control-user">
                <option value="none">Defalut Role : {{ msg[3] }}</option>
                <option value="super_user">Super User</option>
                <option value="user">User</option>
                </select>
            </td>
        </tr>
        <tr>
    </table>
    <div class="modal-footer">
        <button type="Submit" class="btn btn-secondary"  value= "{{ msg[0] }}" name="pk">Submit</button>
        <button type="Button" class="btn btn-primary"  data-dismiss="modal">Close</button>
    </div>
    </form>