<form action="{{ url_for('edit_equipment_page') }}" method="post">
    <table class="table">
        <tr>
            <td>Serial Number : </td>
            <td>{{ msg[0] }}</td>
        </tr>
        <tr>
            <td>Project Name : </td>
            <td><input class="inputbox2" type="text" name="project_name" placeholder= "{{ msg[1] }}" id="project_name"></td>
        </tr>
        <tr>
            <td>Site Name : </td>
            <td><input class="inputbox2" type="text" name="site_name" placeholder= "{{ msg[2] }}" id="site_name"></td>
        </tr>
        <tr>
            <td>Brand : </td>
            <td><input class="inputbox2" type="text" name="brand" placeholder= "{{ msg[3] }}" id="brand"></td>
        </tr>
        <tr>
            <td>Model : </td>
            <td><input class="inputbox2" type="text" name="model" placeholder= "{{ msg[4] }}" id="model"></td>
        </tr>
        <tr>
            <td>Disty Name : </td>
            <td><input class="inputbox2" type="text" name="disty_name" placeholder= "{{ msg[5] }}" id="disty_name"></td>
        </tr>
        <tr>
            <td>Disty Contact : </td>
            <td><input class="inputbox2" type="text" name="disty_contact" placeholder= "{{ msg[6] }}" id="disty_contact"></td>
        </tr>
        <tr>
            <td>Open case Contact : </td>
            <td><input class="inputbox2" type="text" name="open_case_contact" placeholder= "{{ msg[7] }}" id="open_case_contact"></td>
        </tr>
        <tr>
            <td>SOW : </td>
            <td><input class="inputbox2" type="text" name="s_o_w" placeholder= "{{ msg[8] }}" id="s_o_w"></td>
        </tr>
        <tr>
            <td>EOW : </td>
            <td><input class="inputbox2" type="text" name="e_o_w" placeholder= "{{ msg[9] }}" id="e_o_w"></td>
        </tr>
        <tr>
            <td>HA Status : </td>
            <td><input class="inputbox2" type="text" name="ha_status" placeholder= "{{ msg[10] }}" id="ha_status"></td>
        </tr>
        <tr>
            <td>HA : </td>
            <td><input class="inputbox2" type="text" name="ha" placeholder= "{{ msg[11] }}" id="ha"></td>
        </tr>
    </table>
    <div class="modal-footer">
        <button type="Submit" class="btn btn-primary"  value= "{{ msg[0] }}" name="pk">Submit</button>
        <button type="Button" class="btn btn-primary"  data-dismiss="modal">Close</button>
    </div>
    </form>