<form action="{{ url_for('edit_site_page') }}" method="post">
    <table class="table">
        <tr>
            <td>Site ID : </td>
            <td>{{ msg[0] }}</td>
        </tr>
        <tr>
            <td>Project Name : </td>
            <td><input class="inputbox2" type="text" name="project_name" placeholder= "{{ msg[1] }}" id="project_name"></td>
        </tr>
        <tr>
            <td>Site Name : </td>
            <td><input class="inputbox2" type="text" name="site_name" placeholder= "{{ msg[2] }}" id="site_name"></td>
        </tr>
        <tr>
            <td>Location  : </td>
            <td><textarea rows="4"  cols="50" type="text" name="location" placeholder= "{{ msg[3] }}" id="location"></textarea></td>
        </tr>
        <tr>
            <td>Short Name : </td>
            <td><input class="inputbox2" type="text" name="short_name" placeholder= "{{ msg[4] }}" id="short_name"></td>
        </tr>
        <tr>
            <td>Contact Owner Site : </td>
            <td><textarea rows="4"  cols="50" type="text" name="contact_owner_site" placeholder="{{ msg[5] }}" id="contact_owner_site"></textarea></td>

        </tr>
        <tr>
            <td>Contact : </td>
            <td><input class="inputbox2" type="text" name="contact" placeholder= "{{ msg[6] }}" id="contact"></td>
        </tr>
        <tr>
            <td>Type : </td>
            <td><input class="inputbox2" type="text" name="type" placeholder= "{{ msg[7] }}" id="type"></td>
        </tr>
    </table>
    <div class="modal-footer">
        <button type="Submit" class="btn btn-secondary"  value= "{{ msg[0] }}" name="pk">Submit</button>
        <button type="Button" class="btn btn-primary"  data-dismiss="modal">Close</button>
    </div>
    </form>