<form action="{{ url_for('edit_user_page') }}" method="post">
    <table class="table">
        <tr>
            <td>User ID : </td>
            <td>{{ msg[0] }}</td>
        </tr>
        <tr>
            <td>username : </td>
            <td><input class="inputbox2" type="text" name="username" placeholder= "{{ msg[1] }}" id="username"></td>
        </tr>
        <tr>
            <td>password : </td>
            <td><input class="inputbox2" type="text" name="password" placeholder= "{{ msg[2] }}" id="password"></td>
        </tr>
        <tr>
            <td>Role : </td>
            <td><input class="inputbox2" type="text" name="role" placeholder= "{{ msg[3] }}" id="role"></td>
        </tr>
    </table>
    <div class="modal-footer">
        <button type="Submit" class="btn btn-primary"  value= "{{ msg[0] }}" name="pk">Submit</button>
        <button type="Button" class="btn btn-primary"  data-dismiss="modal">Close</button>
    </div>
    </form>