<table>
    <tr>
        <th>Project duplicate:</th>
    </tr>
    <tbody>
    {% for duplicate_Project in msg[0][0] %}
    <tr>
        <td>{{duplicate_Project}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<table>
    <tr>
        <th>Project missingparameter:</th>
    </tr>
    <tbody>
    {% for miss_Project in msg[0][1] %}
    <tr>
        <td>{{miss_Project}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<table>
    <tr>
        <th>Contract duplicate:</th>
    </tr>
    <tbody>
    {% for duplicate_Contract in msg[1][0] %}
    <tr>
        <td>{{duplicate_Contract}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<table>
    <tr>
        <th>Contract missingparameter:</th>
    </tr>
    <tbody>
    {% for miss_Contract in msg[1][1] %}
    <tr>
        <td>{{miss_Contract}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<table>
    <tr>
        <th>Site duplicate:</th>
    </tr>
    <tbody>
    {% for duplicate_Site in msg[2][0] %}
    <tr>
        <td>{{duplicate_Site}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<table>
    <tr>
        <th>Site missingparameter:</th>
    </tr>
    <tbody>
    {% for miss_Site in msg[2][1] %}
    <tr>
        <td>{{miss_Site}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<table>
    <tr>
        <th>Equipment duplicate:</th>
    </tr>
    <tbody>
    {% for duplicate_Equipment in msg[3][0] %}
    <tr>
        <td>{{duplicate_Equipment}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<table>
    <tr>
        <th>Equipment missingparameter:</th>
    </tr>
    <tbody>
    {% for miss_Equipment in msg[3][1] %}
    <tr>
        <td>{{miss_Equipment}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<table>
    <tr>
        <th>circuit duplicate:</th>
    </tr>
    <tbody>
    {% for duplicate_circuit in msg[4][0] %}
    <tr>
        <td>{{duplicate_Equipment}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<table>
    <tr>
        <th>circuit missingparameter:</th>
    </tr>
    <tbody>
    {% for miss_circuit in msg[4][1] %}
    <tr>
        <td>{{miss_circuit}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<table>
    <tr>
        <th>Interface duplicate:</th>
    </tr>
    <tbody>
    {% for duplicate_Interface in msg[5][0] %}
    <tr>
        <td>{{duplicate_Interface}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<table>
    <tr>
        <th>Interface missingparameter:</th>
    </tr>
    <tbody>
    {% for miss_Interface in msg[5][1] %}
    <tr>
        <td>{{miss_Interface}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>