<table>
    <tr>
        <th>Project Duplicate :</th>
    </tr>
    <tbody>
    {% for duplicate_Project in msg[0][0] %}
    <tr>
        <td>{{duplicate_Project}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<table>
    <tr>
        <th>Project Missing Parameter :</th>
    </tr>
    <tbody>
    {% for miss_Project in msg[0][1] %}
    <tr>
        <td>{{miss_Project}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<table>
    <tr>
        <th>Contract Duplicate :</th>
    </tr>
    <tbody>
    {% for duplicate_Contract in msg[1][0] %}
    <tr>
        <td>{{duplicate_Contract}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<table>
    <tr>
        <th>Contract Missing Parameter :</th>
    </tr>
    <tbody>
    {% for miss_Contract in msg[1][1] %}
    <tr>
        <td>{{miss_Contract}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<table>
    <tr>
        <th>Site Duplicate :</th>
    </tr>
    <tbody>
    {% for duplicate_Site in msg[2][0] %}
    <tr>
        <td>{{duplicate_Site}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<table>
    <tr>
        <th>Site Missing Parameter:</th>
    </tr>
    <tbody>
    {% for miss_Site in msg[2][1] %}
    <tr>
        <td>{{miss_Site}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<table>
    <tr>
        <th>Equipment Duplicate :</th>
    </tr>
    <tbody>
    {% for duplicate_Equipment in msg[3][0] %}
    <tr>
        <td>{{duplicate_Equipment}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<table>
    <tr>
        <th>Equipment Missing Parameter :</th>
    </tr>
    <tbody>
    {% for miss_Equipment in msg[3][1] %}
    <tr>
        <td>{{miss_Equipment}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<table>
    <tr>
        <th>Circuit Duplicate :</th>
    </tr>
    <tbody>
    {% for duplicate_circuit in msg[4][0] %}
    <tr>
        <td>{{duplicate_Equipment}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<table>
    <tr>
        <th>Circuit Missing Parameter :</th>
    </tr>
    <tbody>
    {% for miss_circuit in msg[4][1] %}
    <tr>
        <td>{{miss_circuit}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<table>
    <tr>
        <th>Interface Duplicate :</th>
    </tr>
    <tbody>
    {% for duplicate_Interface in msg[5][0] %}
    <tr>
        <td>{{duplicate_Interface}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<table>
    <tr>
        <th>Interface Missing Parameter:</th>
    </tr>
    <tbody>
    {% for miss_Interface in msg[5][1] %}
    <tr>
        <td>{{miss_Interface}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>