
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">PROFILE</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span class="f-size" aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-profile ">
            <div class="displayflex">
                <div class="row">
                    <div class="col-md-12 displaycen">Email : {{ account['username'] }}</div>
                    <div class="col-md-12 displaycen">Password : {{ account['password'] }}</div>
                    <div class="col-md-12 displaycen">Role : {{ account['role'] }}</div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" data-dismiss="modal">Close</button>
        </div>
    </div>
