
<div>
    <table>
        <tr>
            <td><div>Your {{zone2[0]}} Details are below : </div></td>
        </tr>
        <tr>
            <td>Project Name : </td>
            <td>{{ zone1[0] }}</td>
        </tr>
        <tr>
            <td>Serial Number : </td>
            <td>{{ zone2[0] }}</td>
        </tr>
        <tr>
            <td>Project Name : </td>
            <td>{{ zone2[1] }}</td>
        </tr>
        <tr>
            <td>Site Name : </td>
            <td>{{ zone2[2] }}</td>
        </tr>
        <tr>
            <td>Brand : </td>
            <td>{{ zone2[3] }}</td>
        </tr>
        <tr>
            <td>Model : </td>
            <td>{{ zone2[4] }}</td>
        </tr>
        <tr>
            <td>Disty Name : </td>
            <td>{{ zone2[5] }}</td>
        </tr>
        <tr>
            <td>Disty Contact : </td>
            <td>{{ zone2[6] }}</td>
        </tr>
        <tr>
            <td>Open Case Contact : </td>
            <td>{{ zone2[7] }}</td>
        </tr>
        <tr>
            <td>Start of Warranty : </td>
            <td>{{ zone2[8] }}</td>
        </tr>
        <tr>
            <td>End of Warranty : </td>
            <td>{{ zone2[9] }}</td>
        </tr>
        <tr>
            <td>HA Status : </td>
            <td>{{ zone2[10] }}</td>
        </tr>
        <tr>
            <td>HA : </td>
            <td>{{ zone2[11] }}</td>
        </tr>
        <tr>
            <td>Project Name : </td>
            <td>{{ zone3[1] }}</td>
        </tr>
        <tr>
            <td>Site Name : </td>
            <td>{{ zone3[2] }}</td>
        </tr>
        <tr>
            <td>Location : </td>
            <td>{{ zone3[3] }}</td>
        </tr>
        <tr>
            <td>Site Short Name : </td>
            <td>{{ zone3[4] }}</td>
        </tr>
        <tr>
            <td>Contact Owner Site : </td>
            <td>{{ zone3[5] }}</td>
        </tr>
        <tr>
            <td>Contact : </td>
            <td>{{ zone3[6] }}</td>
        </tr>
        <tr>
            <td>Type : </td>
            <td>{{ zone3[7] }}</td>
        </tr>
    </table>
    <p>---------------------------------------------------------------</p>
    <table>
        <form action="{{ url_for('serial_number_detial') }}" method="post">
        <tr><td>Circuit ID List</td></tr>
        {% for row in zone4 %}
        <tr><td>###</td>
            <td >{{row}}</td>
            {% endfor %}
        </tr>
    </form>
    </table>
</div>
