<div>
    <table>
        <tr>
            <td><div>Site {{zone2[2]}} Details are below : </div></td>
        </tr>
        <tr>
            <td>Project Name :</td>
            <td>{{ zone1[0] }}</td>
        </tr>
        <tr>
            <td>Circuit ID :</td>
            <td>{{ zone1[1] }}</td>
        </tr>
        <tr>
            <td>Serial Number :</td>
            <td>{{ zone1[2] }}</td>
        </tr>
        <tr>
            <td>Site Name :</td>
            <td>{{ zone2[2] }}</td>
        </tr>
        <tr>
            <td>Location :</td>
            <td>{{ zone2[3] }}</td>
        </tr>
        <tr>
            <td>Site Short Name :</td>
            <td>{{ zone2[4] }}</td>
        </tr>
        <tr>
            <td>Contact Owner Site : </td>
            <td>{{ zone2[5] }}</td>
        </tr>
        <tr>
            <td>Contact :</td>
            <td>{{ zone2[6] }}</td>
        </tr>
        <tr>
            <td>Type :</td>
            <td>{{ zone2[7] }}</td>
        </tr>
    </table>    
</div>