{% extends 'layout.html' %}

{% block title %}Circuit{% endblock %}

{% block content %}
<h2>Detials Site Page</h2>
<div>
    <p>Your {{zone2[2]}} details are below:</p>
    <table>
        <tr>
            <td>Project Name:</td>
            <td>{{ zone1[0] }}</td>
        </tr>
        <tr>
            <td>circuit_Id:</td>
            <td>{{ zone1[1] }}</td>
        </tr>
        <tr>
            <td>Serial_number:</td>
            <td>{{ zone1[2] }}</td>
        </tr>
    </table>
    <p>---------------------------------------------------------------</p>
    <table>
        <tr>
            <td>site_name:</td>
            <td>{{ zone2[2] }}</td>
        </tr>
        <tr>
            <td>location:</td>
            <td>{{ zone2[3] }}</td>
        </tr>
        <tr>
            <td>site_short_name:</td>
            <td>{{ zone2[4] }}</td>
        </tr>
        <tr>
            <td>contact_owner_site:</td>
            <td>{{ zone2[5] }}</td>
        </tr>
        <tr>
            <td>contact:</td>
            <td>{{ zone2[6] }}</td>
        </tr>
        <tr>
            <td>type:</td>
            <td>{{ zone2[7] }}</td>
        </tr>
    </table>    
    <h3>Thank you</h3>
</div>
{% endblock %}