<h2>Detials Circuit Page</h2>
<div>
    <p>Your {{zone2[0]}} details are below:</p>
    <table>
        <tr>
            <td>Project Name:</td>
            <td>{{ zone1[0] }}</td>
        </tr>
    </table>
    <p>---------------------------------------------------------------</p>
    <table>
        <tr>
            <td>circuit_id:</td>
            <td>{{ zone2[0] }}</td>
        </tr>
        <tr>
            <td>equipment_ref:</td>
            <td>{{ zone2[1] }}</td>
        </tr>
        <tr>
            <td>ip_address_pe:</td>
            <td>{{ zone2[2] }}</td>
        </tr>
        <tr>
            <td>ip_address_ce:</td>
            <td>{{ zone2[3] }}</td>
        </tr>
        <tr>
            <td>subnet:</td>
            <td>{{ zone2[4] }}</td>
        </tr>
        <tr>
            <td>loopback:</td>
            <td>{{ zone2[5] }}</td>
        </tr>
        <tr>
            <td>circuit_type:</td>
            <td>{{ zone2[6] }}</td>
        </tr>
        <tr>
            <td>link_number:</td>
            <td>{{ zone2[7] }}</td>
        </tr>
        <tr>
            <td>original_isp:</td>
            <td>{{ zone2[8] }}</td>
        </tr>
        <tr>
            <td>owner_isp:</td>
            <td>{{ zone2[9] }}</td>
        </tr>
        <tr>
            <td>isp_contact_tel:</td>
            <td>{{ zone2[10] }}</td>
        </tr>
    </table>
    <p>---------------------------------------------------------------</p>
    <table>
        <tr>
            <td>Equipment Model:</td>
            <td>{{ zone3[0] }}</td>
        </tr>
        <tr>
            <td>Equipment Brand</td>
            <td>{{ zone3[1] }}</td>
        </tr>
        <tr>
            <td>Serial_number</td>
            <td>{{ zone3[2] }}</td>
        </tr>
    </table>
    <p>---------------------------------------------------------------</p>
    <table>
        <tr>
            <td>Physical Interface:</td>
            <td>{{ zone4[0] }}</td>
        </tr>
        <tr>
            <td>VLAN_ID</td>
            <td>{{ zone4[1] }}</td>
        </tr>
    </table>
    <table>
        <tr><td>Tunnel Interface Name</td></tr>
        {% for row in zone5 %}
        <tr><td>###</td>
            <td >{{row}}</td>
            {% endfor %}
        </tr>

    </table>
    <h3>Thank you</h3>
</div>