{% extends 'layout.html' %}

{% block title %}delete_form{% endblock %}

{% block content %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Flask-DataTables</title>
    <meta name="description" content="This is a Flask (Python microframework) use Datatables.js Ajax source application.">
    <meta name="author" content="rosickey">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
	
	<script src="{{ url_for('static', filename='js/jquery-1.8.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
</head>

<script>
$(document).ready(function() {
	$('#example').dataTable( {
		"sDom": "<'row-fluid'<'span6 toolbar'><'span6'>r>t<'row-fluid'<'span6'f><'span6'p>>",
		"bProcessing": true,
		"bjQueryUI": true,
		"sAjaxSource": "{{ url_for('delete_table') }}",
	});
} );
</script>
<form action="{{ url_for('delete_page') }}" method="POST">
    <select name="table_name" id="table_name" onchange="this.form.submit()">
        <option>select table</option>
        <option value="Project">Project</option>
        <option value="Contract">Contract</option>
		<option value="Site">Site</option>
		<option value="Equipment">Equipment</option>
		<option value="Circuit">Circuit</option>
		<option value="Interface">Interface</option>
    </select>
</form>
<body>
	
	<table class='table' id='example'>
		<thead>
			<tr>
				{% for col in columns %}
				<th>{{ col }}</th>
				{% endfor %}
			</tr>
		</thead>
	</table>
	
</body>
{% endblock %}