{% extends 'layout.html' %}

{% block title %}delete_form{% endblock %}

{% block content %}
<style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
 </style>

<form action="{{ url_for('delete_page') }}" method="POST">
    <select name="table_name" id="table_name" onchange="this.form.submit()">
        <option>select table</option>
        <option value="Project">Project</option>
        <option value="Contract">Contract</option>
		<option value="Site">Site</option>
		<option value="Equipment">Equipment</option>
		<option value="Circuit">Circuit</option>
		<option value="Interface">Interface</option>
    </select>
</form>
<p>Table Name: {{tablename}}</p>
<body>
	
	<table>
		<thead>
			<tr>
				<th>/_\</th>
				{% for col in columns %}
				<th>{{ col }}</th>
				{% endfor %}
			</tr>
		</thead>
		{% for data in data_display %}
			<tr>
					<td>+</td>
					{% for row in data %}
						<td>{{ row }}</td>
					{% endfor %}
			</tr>
			{% endfor %}
	</table>
	<form action="{{ url_for('delete_page') }}" method="POST">
		<input type="text" placeholder="input PK to delete" name = 'PK' id = 'PK'></input>
		<button type="submit">submit</button>
	</form>
</body>
{% endblock %}