{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    </style>
<p>{{ text }}!</p>
<form action="{{ url_for('home') }}" method="post">
<p>search <input type="text" name="data_search" placeholder="search" required>
    <input type = "submit"/></p>
  </form>
    <table style="width:100%">
            <tr>
                <th>circuit_id</th>
                <th>project_name</th>
                <th>site_name</th>
                <th>serial_number</th>
                <th>Equipment_Loopback</th>
                <th>IP_address_CE</th>
              </tr>
          </thead>
          <tbody> 
            <form action="{{ url_for('home') }}" method="post">
            {% for row in data %}
              <tr> 
                <td>{{row[0]}}<button type = "submit" value="{{row,row[0]}}" name="data">+</button></td>
                <td>{{row[1]}}<button type = "submit" value="{{row,row[1]}}" name="data">+</button></td>
                <td>{{row[2]}}<button type = "submit" value="{{row,row[2]}}" name="data">+</button></td>
                <td>{{row[3]}}<button type = "submit" value="{{row,row[3]}}" name="data">+</button></td>
                <td>{{row[4]}}</td>
                <td>{{row[5]}}</td>
              </tr> 
            {% endfor %}
          </form>
{% endblock %}