{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    </style>
<p>{{ text }}!</p>
<form action="{{ url_for('home') }}" method="post">
<p>search <input type="text" name="data_search" placeholder="search" required>
 <input type = "submit"/></p>
  </form>
<p><a href="{{ url_for('advanced_search') }}">advanced search</a></p>
    <table style="width:100%">
            <tr>
                <th>circuit_id</th>
                <th>project_name</th>
                <th>site_name</th>
                <th>serial_number</th>
                <th>Equipment_Loopback</th>
                <th>IP_address_CE</th>
              </tr>
          </thead>
          <tbody> 
            {% for row in data %}
              <tr> 
                <td><button  data-id ='{{row,row[0]}}' class="details_data btn btn-success">{{row[0]}}</button></td>
                <td><button  data-id ='{{row,row[1]}}' class="details_data btn btn-success">{{row[1]}}</button></td>
                <td><button  data-id ='{{row,row[2]}}' class="details_data btn btn-success">{{row[2]}}</button></td>
                <td><button  data-id ='{{row,row[3]}}' class="details_data btn btn-success">{{row[3]}}</button></td>
                <td>{{row[4]}}</td>
                <td>{{row[5]}}</td>
              </tr> 
            {% endfor %}

            <div class="modal fade" id="empModal" role="dialog">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h4 class="modal-title">Details</h4>
                        <button type="button" class="close" data-dismiss="modal">×</button>
                      </div>
                      <div class="modal-body"></div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                  </div>
              </div>
      </div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.details_data').click(function(){
      var circuit_data = $(this).data('id');
      $.ajax({
        url: '/ajaxfile',
        type: 'post',
        data: {circuit_data:circuit_data},
        success: function(data){
          $('.modal-body').html(data);
          $('.modal-body').append(data.htmlcircuit_detial);
          $('.modal-body').append(data.htmlproject_detial);
          $('.modal-body').append(data.htmlsite_detial); 
          $('.modal-body').append(data.htmlserial_number_detial); 
          $('#empModal').modal('show');
        }
      });
    });
  });
</script>
{% endblock %}