<style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    </style>
<div>
    <p>Your {{zone1[0]}} details are below:</p>
    <table>
        <tr>
            <td>Project Name:</td>
            <td>{{ zone1[0] }}</td>
        </tr>
        <tr>
            <td>circuit_Id:</td>
            <td>{{ zone1[1] }}</td>
        </tr>
        <tr>
            <td>Serial_number:</td>
            <td>{{ zone1[2] }}</td>
        </tr>
    </table>
    <p>---------------------------------------------------------------</p>
    <table>
        <tr>
            <td>s/o:</td>
            <td>{{ zone2[2] }}</td>
        </tr>
        <tr>
            <td>customer_start_of_contract:</td>
            <td>{{ zone2[3] }}</td>
        </tr>
        <tr>
            <td>customer_end_of_contract:</td>
            <td>{{ zone2[4] }}</td>
        </tr>
        <tr>
            <td>disty_start_of_contract:</td>
            <td>{{ zone2[5] }}</td>
        </tr>
        <tr>
            <td>vpn_detail:</td>
            <td>{{ zone2[6] }}</td>
        </tr>
        <tr>
            <td>Important_Detail:</td>
            <td>{{ zone2[7] }}</td>
        </tr>
        <tr>
            <td>Addition_Detail:</td>
            <td>{{ zone2[8] }}</td>
        </tr>
        <tr>
            <td>Remark:</td>
            <td>{{ zone2[9] }}</td>
        </tr>
    </table>
    <p>---------------------------------------------------------------</p>
    <table>
        <tr>
            <td>role</td>
            <td>name</td>
            <td>tel</td>
            <td>additional_detail</td>
        </tr>
        <tbody>
            {% for row in zone3 %}
            <tr>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
                <td>{{ row[5] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h3>Thank you</h3>
</div>