{% extends 'layout.html' %}

{% block title %}Up load{% endblock %}

{% block content %}


<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


	<script type="text/javascript">
		$(document).ready(function (e) {
			$('#upload').on('click', function () {
				var form_data = new FormData();
				var ins = document.getElementById('multiFiles').files.length;
				
				if(ins == 0) {
					$('#msg').html('<span style="color:red">Select at least one file</span>');
					return;
				}
				
				for (var x = 0; x < ins; x++) {
					form_data.append("files[]", document.getElementById('multiFiles').files[x]);
				}
				
				$.ajax({
					url: '/python-flask-files-upload', // point to server-side URL
					dataType: 'json', // what to expect back from server
					cache: false,
					contentType: false,
					processData: false,
					data: form_data,
					type: 'post',
					success: function (response) { // display success response
						$('#msg').html('');
						$.each(response, function (key, data) {							
							if(key !== 'message') {
								$('#msg').append(key + ' -> ' + data + '<br/>');
							} else {
								$('#msg').append(data + '<br/>');
							}
						})
					},
					error: function (response) {
						$('#msg').html(response.message); // display error response
					}
				});
			});
		});
	</script>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
	<span style="color:red">{{ message }}</span>
    {% endfor %}
    </ul>
  {% endif %}

{% endwith %}

{% if error %} 
	{% for er in error %}
	<a><span style="color:red"><strong>Error</strong>: {{er}}</span></a>
	{% endfor %}
{% endif %}  
<dl>
    <p>
        <p id="msg"></p>
        <input type="file" id="multiFiles" name="files[]" multiple="multiple"/>
        <button id="upload">Upload</button>
    </p>
</dl>
<button  data-id ='test_data' class="check_data btn btn-success">check</button>
<a class="btn btn-success" href="{{url_for('download')}}">Download</a>

<script type="text/javascript">
  $(document).ready(function(){
    $('.check_data').click(function(){
      var check_data = $(this).data('id');
      $.ajax({
        url: '/check_cell',
        type: 'post',
        data: {check_data:check_data},
        success: function(data){
          $('.modal-body').html(data);
          $('.modal-body').append(data.htmlcheck_cell);
		  $('.modal-body').append(data.htmlin_cell);
          $('#empModal').modal('show');
        }
      });
    });
  });
</script>
<div class="modal fade" id="empModal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">check</h4>
			  <button type="button" class="close" data-dismiss="modal">×</button>
			</div>
			<div class="modal-body"></div>
			<div class="modal-footer">
			<form action="{{ url_for('check_test') }}" method="post">
			<button type="submit" class="btn btn-default" value="submit_done" name="test">submit</button>
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button></form>
			</div>
		</div>
	</div>
</div>
{% endblock %}