{% extends 'layout.html' %}

{% block title %}User Table{% endblock %}

{% block content %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Flask-DataTables</title>
    <meta name="description" content="This is a Flask (Python microframework) use Datatables.js Ajax source application.">
    <meta name="author" content="rosickey">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
	
	<script src="{{ url_for('static', filename='js/jquery-1.8.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
</head>

<script>
$(document).ready(function() {
	$('#example').dataTable( {
		"sDom": "<'row-fluid'<'span6 toolbar'><'span6'>r>t<'row-fluid'<'span6'f><'span6'p>>",
		"bProcessing": true,
		"bjQueryUI": true,
		"sAjaxSource": "{{ url_for('get_server_data') }}",
	});
} );
</script>
<script type="text/javascript">
	function tableToCSV() {

		// Variable to store the final csv data
		var csv_data = [];

		// Get each row data
		var rows = document.getElementsByTagName('tr');
		for (var i = 0; i < rows.length; i++) {

			// Get each column data
			var cols = rows[i].querySelectorAll('td,th');

			// Stores each csv row data
			var csvrow = [];
			for (var j = 0; j < cols.length; j++) {

				// Get the text data of each cell
				// of a row and push it to csvrow
				csvrow.push(cols[j].innerHTML);
			}

			// Combine each column value with comma
			csv_data.push(csvrow.join(","));
		}

		// Combine each row data with new line character
		csv_data = csv_data.join('\n');

		// Call this function to download csv file 
		downloadCSVFile(csv_data);

	}

	function downloadCSVFile(csv_data) {

		// Create CSV file object and feed
		// our csv_data into it
		CSVFile = new Blob([csv_data], {
			type: "text/csv"
		});

		// Create to temporary link to initiate
		// download process
		var temp_link = document.createElement('a');

		// Download csv file
		temp_link.download = "user_table.csv";
		var url = window.URL.createObjectURL(CSVFile);
		temp_link.href = url;

		// This link should not be displayed
		temp_link.style.display = "none";
		document.body.appendChild(temp_link);

		// Automatically click the link to
		// trigger download
		temp_link.click();
		document.body.removeChild(temp_link);
	}
</script>
<body>
	<div class="container">
	<table class='table' id='example'>
		<thead>
			<tr>
				{% for col in columns %}
				<th>{{ col }}</th>
				{% endfor %}
			</tr>
		</thead>
			<tbody> 
				{% for row in data %}
				  <tr> 
					<td>{{row[0]}}</td>
					<td>{{row[1]}}</td>
					<td>{{row[2]}}</td>
				  </tr> 
				{% endfor %}

	</table>
	</div>
</body>
<button type="button" onclick="tableToCSV()">
	download CSV
</button>
{% endblock %}